[submodule "docs-user"]
	path = docs-user
	url = https://github.com/simoninns/decode-orc-docs
[submodule "external/encode-orc"]
	path = external/encode-orc
	url = https://github.com/simoninns/encode-orc
[submodule "external/qtnodes"]
	path = external/qtnodes
	url = https://github.com/paceholder/nodeeditor
