[submodule "testdata-ld"]
	path = testdata-ld
	url = https://github.com/simoninns/decode-orc-testdata-ld.git
[submodule "docs"]
	path = docs
	url = https://github.com/simoninns/decode-orc-docs
[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
