# This is an example of what the test-signatures.txt file will contain
# Format: TEST_NAME|SHA256_CHECKSUM
#
# To generate the actual signatures, run:
#   ./run-tests.sh generate
#
# This file will be populated with checksums like:
# PAL_2D_RGB|e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
# NTSC_2D_RGB|d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f90da3a666eec13ab35
# ...
