name: Main CI/CD

on:
  push:

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit

  package-macos:
    name: Package MacOS DMG
    needs: build-and-test
    uses: ./.github/workflows/package-macos.yml
    with:
      artifact_name: decode-orc-macos-dmg
      retention_days: 30
    secrets: inherit

  package-flatpak:
    name: Package Linux Flatpak
    needs: build-and-test
    uses: ./.github/workflows/package-flatpak.yml
    with:
      artifact_name: decode-orc-linux-flatpak
      retention_days: 30
    secrets: inherit

  package-windows:
    name: Package Windows MSI
    needs: build-and-test
    uses: ./.github/workflows/package-windows.yml
    with:
      artifact_name: decode-orc-windows-msi
      retention_days: 30
    secrets: inherit

  release-macos:
    name: Publish MacOS DMG release
    if: startsWith(github.ref, 'refs/tags/')
    needs: package-macos
    permissions:
      contents: write
    uses: ./.github/workflows/release-from-artifact.yml
    with:
      artifact_name: decode-orc-macos-dmg
      file_glob: release-artifacts/*.dmg
    secrets: inherit

  release-flatpak:
    name: Publish Linux Flatpak release
    if: startsWith(github.ref, 'refs/tags/')
    needs: package-flatpak
    permissions:
      contents: write
    uses: ./.github/workflows/release-from-artifact.yml
    with:
      artifact_name: decode-orc-linux-flatpak
      file_glob: release-artifacts/*.flatpak
    secrets: inherit

  release-windows:
    name: Publish Windows MSI release
    if: startsWith(github.ref, 'refs/tags/')
    needs: package-windows
    permissions:
      contents: write
    uses: ./.github/workflows/release-from-artifact.yml
    with:
      artifact_name: decode-orc-windows-msi
      file_glob: release-artifacts/*.msi
    secrets: inherit
